{% extends 'layouts/index.html' %}

{% block content %}
     {% if  not user.is_anonymous %}
        <form action="/shops/create/" method="post"enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit" value="CREATE">

         </form>
      {% else %}
         <h1>heloo </h1>
         <a href="/user/register " class="btn btn-primary"> register</a>
         <h1>
         or
         </h1>
          <a href="/user/login " class="btn btn-primary"> login </a>
           {% endif %}

{% endblock %}.