{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .shop {
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
        .image > img {
            width: 100%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div class="shops">
        <div class="image">
            <img src="/media/{{ shops.img }}/" alt="">
        </div>
        <div class="info">
            <h1>{{ shops.title }}</h1>
            <h1> Rate: {{ shops.rate }}</h1>
            <h4> description : {{ shops.description }}</h4>
            <h5>ЦЕНА -> {{ shops.prize }}</h5>
            <div class="dates">
                <h4>{{ shops.created_date }}</h4>
                <h4>{{ shops.modified_date }}</h4>
            </div>
            <a href="/shops/{{ i.id }}/{{ shops.phone_number }}" class="btn btn-primary"> купить </a>
        </div>
    </div>
{% endblock %}